body {
  margin: 0;
  font-family: 'Roboto';
}

.header {
  display: flex;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #1F2937;
}

h3 {
  margin: 0;
}

a {
  text-decoration: none;
  font-size: 18px;
  color: #E5E7EB;
  font-weight: 400;
}

.header-links {
  display: flex;
  margin-left: auto;
  gap: 20px;
  padding-right: 200px;
}

#header-logo {
  margin: 0;
  color: #F9FAF8;
  font-size: 24px;
  padding-left: 200px;
}